[2018-02-02 00:44] danger89 opened #1 "Cannot read property path"
During `npm start`.

I get:

[code]

[2018-02-02 14:01] mpashkovskiy commented on #1
Could you please elaborate a bit more on how you initialize express app and routers in it so I can fix the module?

[2018-02-02 15:55] danger89 commented on #1
Sure.

File `app.js`:
[code]

Example of `index.js` file:
[code]

Similar get, post, put & delete methods are attached to the user.js file.

[2018-02-05 05:55] mpashkovskiy commented on #1
Tried to reproduce the problem in develop branch (see https://github.com/mpashkovskiy/express-oas-generator/blob/develop/issue_1.js) but with no luck. Did I configure something wrong?
Which version of module do you use? I'm trying it with is 0.1.12

Also I added extra check so could you please try with 0.1.13?

[2018-02-12 07:39] mpashkovskiy commented on #1
I suppose problem is solved, so closing the issue.

[2018-02-12 07:39] #1 closed

[2018-02-22 22:33] venkataramkishore opened #2 "multiple get routes are not considered with in the same parent route"
TypeScript code base:
I have routes as follows
      this.router.get('/list', this.userCtrl.fetchAllUsers);
      this.router.get('/:id', this.userCtrl.fetchById);
      this.router.post('/create', this.userCtrl.createUser);
      this.router.put('/:id', this.userCtrl.updateById);
      this.router.delete('/:id', this.userCtrl.deleteById);
      this.router.patch('/:id', this.userCtrl.fetchById);

[2018-02-26 07:13] mpashkovskiy commented on #2
Hi Venkata will check it.

[2018-03-07 09:03] mpashkovskiy commented on #2
Good catch! Bug is fixed.
Unfortunately I cannot publish latest version to https://www.npmjs.com/ but you can directly specify git repo as a dependancy and use version 0.1.15.
Like that:

[code]

Please let me know if it fixed the problem

[2018-03-08 17:28] mpashkovskiy commented on #2
version 0.1.16 published to npm repo

[2018-03-10 11:29] #2 closed

[2018-03-28 14:45] ddska opened #3 "Unexpected token in JSON at position 0"
Sometimes my REST API fails with this error:

[code]

I have not understood how to reproduce it yet, but may be a trim and try-catch would be helpful here.

[2018-03-29 08:20] mpashkovskiy commented on #3
Thanks for reporting. Checking...

[2018-04-02 13:55] #3 closed

[2018-04-10 16:52] anodynos opened #4 "No api endpoints are generated"
First of all thank for this library, it will be amazing if it works for us (tried 0.1.16 & 0.1.18).

So we get no endpoint generated, initially we thought because of   [`if (req.url.startsWith('/api-')) {`](https://github.com/mpashkovskiy/express-oas-generator/blob/d633de6/index.js#L108) (and ours does start with `/api-`) so we comment it out. Still no results.

Next, we noticed that the line [`co

[2018-04-10 17:27] mpashkovskiy commented on #4
Hi Angelos, I'm glad to help. Could you please post example of endpoint initialisation code so I can reproduce it.

[2018-04-11 14:37] anodynos commented on #4
Thanks so much Matvey. So after stripping our app apart without being able to fix it, we ended up with a hello world express app which is still not working:

[code]

We invoke `POST /hello` and then we hit `GET /api-spec` and we get
[code]

[2018-04-12 17:24] williamoliveira opened #5 "Doesn't handle nested routers"
It needs a recursive code [here](https://github.com/mpashkovskiy/express-oas-generator/blob/master/index.js#L34)

[example](https://github.com/AlbertoFdzM/express-list-endpoints/blob/develop/src/index.js#L29)

**EDIT:** made it work in a fork [here](https://github.com/williamoliveira/express-oas-generator/commit/df9271013e22963d4e614901df8990f975e45ec9), I will not make a PR cause I copied some co

[2018-04-12 19:15] mpashkovskiy commented on #5
Thanks William for reporting the bug and especially for pointing to express-list-endpoints. Will incorporate it in couple days and let you know when to update to newer version.

[2018-04-12 19:45] mpashkovskiy commented on #4
Hi Angelos, I fixed the problem and updated tests. Could you please check version 0.1.19 and let me know if it works for you.

[2018-04-12 19:46] mpashkovskiy commented on #5
Hm... It went much faster then I thought or I was just to excited about the opportunity to use express-list-endpoints. So could you try version 0.1.19 and let me know if I manage to fix the problem?

[2018-04-13 00:51] williamoliveira commented on #5
Works great, thank you.
And glad the suggestion helped

[2018-04-13 00:51] #5 closed

[2018-04-13 11:55] anodynos commented on #4
Matvey, that was great, thanks so much, it started working!

The only problem now is that although it is pre-populating the endpoints and documents the endpoint `responses` properly as we hit them, it is _not_ populating the parameters at all, they remain an empty array.

[2018-04-13 14:58] mpashkovskiy commented on #4
It is strange, I thought I covered those cases quite good in [spec/index_tests.js](https://github.com/mpashkovskiy/express-oas-generator/blob/master/test/index_tests.js)
Could you give me endpoint path and request/response from it so I can extend tests and reproduce your case?

[2018-04-13 17:19] anodynos commented on #4
Thanks for your response Matvey.

So far we've identified 2 problems - I am note sure if this is the expected behavior:

1) Responses of `text/plain` are not picked up
[code]
gives
[code]
but the rsponse is not populated with example (after we've used it).
The param in the url is correctly documented.

2) Request body is not documented - with this endpoint
[code]

we get
[code]
after we've send an

[2018-04-14 10:43] mpashkovskiy commented on #4
Hi Angelos. I added handling of `text/plain` responses and added [test for POST](https://github.com/mpashkovskiy/express-oas-generator/blob/master/test/index_tests.js#L81) parameters handling. In your case POST handling doesn't work because in handling function call of `next()` middleware is missing. So it should be:

[code]

Also please make sure you configured [body parser middleware](https://gi

[2018-04-14 10:45] mpashkovskiy commented on #4
please try version 0.1.20 and let me know if it works for you

[2018-04-16 14:32] anodynos commented on #4
Thank you Matvey - it worked like a charm!

A possible _exotic_ improvement would be to augment the body parameters example, as new keys are observed, but that not part of this issue!

Your work is highly appreciated, thank you very much!

[2018-04-16 14:32] #4 closed

[2018-04-17 13:55] anodynos opened #6 "Automatically load & save api-spec.json"
It would be great if we had a config as 3rd param, where we can specify various settings, one of them being the path of the currently generated spec, so it can be loaded and saved.

Right now we're using it as:
[code]
which means we have to manually update it via copy-paste when it changes.

With the new proposal it would look similar to:

[code]

[2018-04-17 14:29] mpashkovskiy commented on #6
Hi Angelos.

I have some doubts if it is right approach. Most of the time I worked with microservices running on several nodes behind a load balancer and usually you don't have access to those nodes (you don't need it) and they are dropped by every deploy triggered by merge/commit to the VCS repo. Because of it it sounds a bit wrong to save spec locally.
Instead I would suggest configure a job on

[2018-04-17 15:13] anodynos commented on #6
Yeah, that could work also, for production. But our intention is to have it **only** on local dev & perhaps staging, that's where the auto-save would be useful.

[2018-04-20 10:13] anodynos opened #8 "Manipulate examples"
It would be great if the user could manipulate `example`, before these are added to the spec.

The rationale is that in staging (or production!) mode, the examples that get accumulated might be too big, or too sensitive or otherwise useless and there is no standard way for the library to deal with such issues.

This can be achieved by passing a `manipulateExample` callback option on init - for exa

[2018-04-20 16:44] Asafb26 commented on #6
+1 for this. you did an awesome work btw 😀

[2018-04-20 20:24] Asafb26 opened #9 "parameters and body not documented when not calling to next function"
considering this example (taken from express site):
[code]

the generator will parse the uri but not the parameters and body unless we explicitly call to next:

[code]

I know that this route not have any use of params and body, this is only for the example 😄

[2018-04-21 06:46] mpashkovskiy commented on #8
Was waiting this feature request since published the very first version 😄
I think there is a better to modify spec. I will provide ability to pass [JSON patch ](http://jsonpatch.com/) as a second parameter.

[2018-04-21 06:47] mpashkovskiy commented on #6
OK will add this feature.

[2018-04-21 06:59] mpashkovskiy commented on #9
That is true, you have to call next(). It is also discussed in #4
The reason behind that is following: request/response parsing middleware need to have request body parsed so it should be placed after [body-parser](https://github.com/expressjs/body-parser). It is hard to put it right after this middleware so we put at the very end.

There is [cool approach](https://github.com/newrelic/node-newreli

[2018-04-21 08:12] Asafb26 commented on #9
Thanks!
so now with calling to next function, routes pattern like this senario result with exception for the uri `/api/albums/artwork`:
`Error: Can't set headers after they are sent.`
[code]

the next function calls to the next route /:id which is trying to call res.json for the second time.

[2018-04-23 08:54] mpashkovskiy commented on #9
Could you please elaborate a bit more? What do you have in `routes.albums.getAlbumArtwork`? How can I reproduce it?

[2018-04-24 10:30] Asafb26 commented on #9
Sure, take a look at a this example:
[code]
for `http://localhost:8080/foo/stranger` route, i get exception: `Error: Can't set headers after they are sent.`
this is not happens when i remove the invocation of next() function

[2018-04-24 13:33] anodynos commented on #8
Hi Matvey - with all due respect, JSON patch looks like a great & standard solution when modifying remote objects & using alien languages to JSON, but it's nowhere near as flexible compared to how you can manipulate a referenced object in JS...

As [John Carmack said](https://twitter.com/id_aa_carmack/status/53512300451201024?lang=en) _Sometimes, the elegant implementation is just a function.  Not

[2018-04-29 07:32] mpashkovskiy commented on #9
Thanks for patience. I managed to reproduce the bug. It is related to router configuration please see develop branch [server.js file](https://github.com/mpashkovskiy/express-oas-generator/commit/43032257e577d042452bb0770a5cf169d6d7903f)

So if you run `node server.js` and point your browser to http://localhost:8080/foo/stranger you will see in the console

[code]
Which actually means that both han

[2018-04-29 07:55] mpashkovskiy commented on #8
Thanks for patience Angelos, now you can manipulate the spec.
Example is available in [test](https://github.com/mpashkovskiy/express-oas-generator/commit/1217060624a551cf7e56b7ee49c097f62133cf2e#diff-0cbce0737e7633bd0d2550fc50ea5cb8R18)

[2018-04-29 07:56] #9 closed

[2018-04-29 07:57] mpashkovskiy commented on #8
To start using this functionality switch to 0.1.22

[2018-04-30 10:01] anodynos commented on #8
Thanks Mavey - using this method I am afraid we'll only get a chance to manipulate the initial spec, instead of the time an example is collected.

If you see my example above, the use case is to manipulate an example (trim large arrays, or hide tokens etc), everytime an example is received.

[2018-04-30 11:26] mpashkovskiy commented on #8
Damn, I'm stupid. Fixing.

[2018-04-30 12:25] mpashkovskiy commented on #8
Now it should work. Check version 0.1.23

[2018-04-30 12:50] mpashkovskiy commented on #8
or even 0.1.24

[2018-05-02 21:54] anodynos commented on #8
Hi Matvey - that's a static manipulation of an existing spec, only when in its initial loading.
The way I am proposing is to manipulate it as it builds up, example by example.
The use case is very large examples we are receiving at runtime that we wish to trim, as and when these arrive.

[2018-05-03 10:47] Asafb26 commented on #9
Thanks!  I ended this issue by checking the existing of req.params.name in the second route, that's keeps the uniqueness of each route

[2018-05-28 22:02] x3r10n opened #10 "predefinedSpec is not a function"
Hi when I try to use your generator I get : predefinedSpec is not a function.

I"m not doing anything fancy... just the plain example :

      expressOasGenerator.init(this.app);

I'm using "this" because my code is in typescript.

any idea ?

[2018-05-28 23:05] #10 closed

[2018-05-30 12:00] jdnichollsc opened #11 "TypeError: Cannot read property 'forEach' of undefined"
Hi man,
I'm trying to use this library but I have the following issue from the console
[code]

And the `app` value is:
[code]

Let me know what you think

Thanks in advance, Nicholls

[2018-05-31 17:22] jdnichollsc commented on #11
@mpashkovskiy the last one
Thanks in advance!

[2018-06-02 12:57] mpashkovskiy commented on #11
Hi Nicholls, the problem is related to the fact that there is no **stack** or **_router** or **_router.stack** field defined for the variable **app** passed to the module. It is thrown by one of the dependencies of my module. Here is the line: https://github.com/AlbertoFdzM/express-list-endpoints/blob/develop/src/index.js#L36
Are you sure that you pass ExpressJS app to the module? Which version of

[2018-06-02 15:27] jdnichollsc commented on #11
Thanks @mpashkovskiy for your response!
Ohh this library is having issues with this other library to use ES6 with Express https://github.com/davidbanham/express-async-errors

[2018-06-02 15:34] jdnichollsc commented on #11
Check my package.json:

[code]

Let me know what you think, thanks for all!

[2018-07-02 10:49] matteoPhre opened #12 "Can't reach localhost:3000/api-docs"
Hi guys! I've got a problem: I can't reach localhost:3000/api-docs: it gives me "ERR_TOO_MANY_REDIRECTS".

This is how I init module from "ExpressServer.js", the file that starts my express server (app) and swaggerDocument is json file that wrap all my paths and docs.
`
expressOasGenerator.init(app, swaggerDocument);
`

Any hint of why this is happening?

Thank in advance.

[2018-07-11 15:03] matheusborguete opened #13 "Function's parameters description"
Hello!
First I'd like to congratulate you for your good work with this project!
And here we go: I actually can't manage to show in the Swagger's UI the description of each parameter... Is there specific way of do it?

Thank you in advance!

[2018-07-12 05:21] mpashkovskiy commented on #13
Hi Matheus! I will add an example to develop branch soon and let you know.

[2018-07-12 12:13] matheusborguete commented on #13
Nice!

[2018-07-14 16:35] mpashkovskiy commented on #13
So here is an example (see develop branch server.js file). You can define a method as a second parameter when you call init (server.js:7) and set description there (server.js:8).

To run the exampe:
* run `node server.js`
* go to `http://localhost:8080/foo/asd` in browser
* and then open Swagger UI `http://localhost:8080/api-docs/`

Hope that answers your question.

[2018-07-16 09:45] mpashkovskiy commented on #13
I hope that solved the problem so I'm closing the issue. Let me know if you need any help.

[2018-07-16 09:45] #13 closed

[2018-07-16 12:11] matheusborguete commented on #13
I had no time to check you answer in time, sorry. I'm gonna try it until tomorrow and let you know, thanks!

[2018-07-17 11:44] matheusborguete commented on #13
Nice, it works perfectly! Thank you!

[2018-07-30 11:46] tommirp opened #14 "How to add detail of documentation (description, defenition, etc) for each endpoint"
How to add detail of documentation (description, defenition, etc) for each endpoint ?
And how to implement "Try out" functionality of each endpoint?

This is so good! but i still have problem to complete the interactive api-docs.
Thanks

[2018-07-30 11:57] mpashkovskiy commented on #14
Hi Tommi
If you check out develop branch there is server.js file.
- run `node server.js`;
- go to http://localhost:8080/api-docs;
- you should see 'Try it out' buttons on right side.

As for descriptions: there are two options:
- you can define those in the code see line 8 from `server.js`;
- you can write Swager spec containing only names and descriptions and provide it as a second argument to in

[2018-08-01 06:36] mpashkovskiy commented on #14
I hope my answer helped you. Closing the ticket.
If you need anything else let me know.

[2018-08-01 06:36] #14 closed

[2018-08-28 23:38] AliMol commented on #6
Hi mpashkovskiy
Has this feature been added to the repo ? I also need to save this json on my local .

Thanks in advance mpashkovskiy ...

[2018-08-29 05:36] mpashkovskiy commented on #6
Unfortunately it hasn't been implemented yet.
Looks like I really have to find the time for it as several people want it

[2018-10-26 20:40] ccope commented on #6
I needed this myself and hacked in a simple call to fs.writeFileSync with a JSON encoding of the spec right after this line: https://github.com/mpashkovskiy/express-oas-generator/blob/5fa0b2103d9e330270827ac0c5f08e615a5a2048/index.js#L141

There's probably a more elegant way to do this but it's fine in my dev environment.

[2018-10-26 21:48] ccope opened #15 "Doesn't check for compression"
I was finding that some of my response schemas looked corrupt. Upon deeper inspection, the buffer assembled from the chunks in updateResponses was compressed (the content-encoding header was gzip). I disabled compression in my dev environment as a workaround.

[2018-10-30 13:16] mpashkovskiy commented on #15
Hi, thanks for reporting. Will take a look.

[2018-11-02 08:21] #6 closed

[2018-11-02 08:28] mpashkovskiy commented on #6
Added support for storing files, please check if it work for you guys (see README).
Don't forget to switch to version 1.0.1

[2018-11-02 18:16] ccope commented on #15
That will probably make people think this module doesn't work. Compression is usually turned on for the whole app server, and only kicks in when the response is over a certain length. Random empty responses will be even more confusing than the garbled data (which took some careful analysis to diagnose because the gzipped responses were garbled by the JSON-ification of the stream). Can you make it

[2018-11-14 19:33] Vnavega opened #17 "Doesn't get body params"
At least I don't know how to do it.
Your work is great! Saved a lot of time for my documentation, but the API request body params.
I use postman to run tests.

[2018-11-17 07:04] mpashkovskiy commented on #17
Do you have compression enabled in your app? There is a check for 'content-encoding' header: https://github.com/mpashkovskiy/express-oas-generator/blob/master/lib/processors.js#L151

[2018-11-17 07:17] mpashkovskiy commented on #17
Difficult question. Can I somehow reproduce it? Could you share how you configure routes in the app? Maybe you can put a breakpoint somewhere here https://github.com/mpashkovskiy/express-oas-generator/blob/master/index.js#L164 and see why it doesn't end up in `processBody(req, method);`?

[2018-11-17 07:41] mpashkovskiy commented on #17
BTW I did some fixes could you try version 1.0.3?

[2018-11-23 07:17] Vnavega commented on #17
Oh, really sorry for not answering earlier!
I'll try ^^
Now that i have Re-read, i think I'm not very clear in my question.
Just to clarify: when the params I need were located in the path for the API URL (like "register/user{userId})", it shows on the generated documentation.
When the params I need are requested via body (key:value), I had to put manually.
But I didn't try the new version yet.
As

[2018-11-28 22:45] Markomb87 opened #18 "how to use jwt token in swagger"
Hello i'm trying out your package its great but i don't find how to put jwt token into swagger or attach to request

[2018-12-04 13:11] mpashkovskiy commented on #18
Hello, there is a possibility in the module to change swagger spec with custom method like this:
[code]

so accordingly to https://swagger.io/docs/specification/authentication/bearer-authentication/ I suppose you have to do something like following:

[code]

Some additional info could be found here: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#jwt-bearer-sample

Pleas

[2018-12-05 14:26] superandroid4848 opened #19 "SwaggerUI Execute doesn't work"
Hi,

I have embedded your code in my NodeJS App (server.js)

When I open swagger-ui , I can see the routes , but when I try to execute the call it doesn't display the response .. (in browser network tab the call is successful and response is received)

Also attaching swagger file which is generated (changed extensions while attaching)

Thanks,
Aniket.

[server.log](https://github.com/mpashkovskiy/

[2018-12-05 15:10] Markomb87 commented on #18
tanks for response :+1: but  went with other solution but I will test this on other projects. looks great.

[2018-12-11 09:21] mpashkovskiy commented on #18
Closing the issue, if you need anything feel free to reopen

[2018-12-11 09:21] #18 closed

[2018-12-24 11:30] biki636 commented on #19
I am also noticing the same exact issue where Swagger's execute functionality is not working.

[2018-12-24 18:05] mpashkovskiy commented on #19
@superandroid4848, @biki636 have you run REST API tests or used service before opening Swagger UI? Could you try downgrade to version 0.1.25 and check if it works for you?

[2019-01-08 08:17] mpashkovskiy commented on #19
Closing the issue as got no response. Feel free to reopen if the problem still exists.

[2019-01-08 08:17] #19 closed

[2019-01-22 08:12] mpashkovskiy commented on #17
Closing the issue as no feedback is given. Feel free to reopen if issue is still exists.

[2019-01-22 08:12] #17 closed

[2019-01-25 18:15] ontehfritz opened #22 "Open Api 3 spec?"
Is there plans in the roadmap to add generation of the open api 3 spec?

[2019-01-28 11:59] mpashkovskiy commented on #22
frankly speaking there was no plan, but I will read a bit about version 3 and let's see.

[2019-06-12 10:40] MounikaKommineni opened #24 "Parameters and response-body not documented while using express-oas-generator"
Thanks for the library. I am using version 1.0.7
Below is my app.js code here i am using express-oas-generator

[code]
Below is my schema:

[code]

My api-spec looks like below:

[code]

My post api looks like  below:
[code]
I have seen the similar issues and implemented in the similar way. Please help where I am doing wrong.
 [https://github.com/mpashkovskiy/express-oas-generator/issues/9](url)
[

[2019-06-18 06:46] mpashkovskiy commented on #24
Hi Mounika, will check it this week.

[2019-07-08 05:46] Mounika-12 commented on #24
Hi mpashkovskiy,
Is this issue resolved. I am waiting to use this package in my application if the issue is fixed.

[2019-07-15 08:00] mpashkovskiy commented on #24
Hi Mounika, thank you for being patient. Will investigate the issue and get back to you today.

[2019-07-15 10:18] mpashkovskiy commented on #24
Hi Mounika, tried to reproduce the problem in the branch issue-24 (see server.js) but with no luck. May I ask you to modify the code in server.js or somewhere around index.js#177 so the problem appear?

[2019-07-15 10:19] mpashkovskiy commented on #24
I ran it like `node server.js` and then checked http://localhost:3606/api-docs/ in the browser.

[2019-07-17 04:35] chandusr opened #27 "swagger ui api response not able to update at a time"
Hi,

i am working with swagger for node api documentation with express-oas-generator

my main problem as every thing working for me until api call
i made api call its giving response it also updated in swagger.json file but at a run time the response is not shown in swagger ui
after clicking execute button i got response but not update in swagger ui

 "express-oas-generator": "^1.0.7",
  "swagger-

[2019-07-18 16:44] mpashkovskiy commented on #27
Hi chandusr, checking

[2019-07-22 10:56] mpashkovskiy commented on #24
@MounikaKommineni did you have time check server.js? Maybe you can give a hint how to reproduce the problem?

[2019-07-22 11:02] mpashkovskiy commented on #27
I noticed on your screenshot that there are some errors in Developer Tools Console. Could you share what is there?
Also there are two calls in network console to authenticate endpoint and first is red. Could you show why is it red?

[2019-07-25 13:02] MounikaKommineni commented on #24
Hi mpashkovskiy,
I have tried with your server.js It is giving the response body. But do I need to specify all my methods manually like you are doing for POST ?
[code]

[2019-07-25 13:31] mpashkovskiy commented on #24
Hi MounikaKommineni

Not sure that I understand your question, I'm not specifying anything here I'm just making a call right after server gets up and running. I did it just to show that if you make a call to your server express-oas-generator will catch it and parse parameters and update swagger specification.

Let me quote one thing from README.md:

So that means if you want to see all the paramet

[2019-07-26 10:35] MounikaKommineni commented on #24
Hi mpashkovskiy,
Thank you giving the clarity.  I have done the same initially only which is mentioned in the README.md
But the problem is when I post my data initially through postman in the swagger response body of post is getting displayed and request body is still empty. I have added screenshot for reference

![s7](https://user-images.githubusercontent.com/46343336/61945873-ae094180-afbe-11e9-

[2019-07-26 10:51] chandusr commented on #27
ya sure that issues from my side only that's vpn problem like net work issues and i also found partial solution for that before writing json in swagger.json  i set the empty  responses object for each api
is that wright solution.
![Capture4](https://user-images.githubusercontent.com/24756336/61946913-69cb7080-afc1-11e9-99fd-6a58be1a86b9.PNG)
![Capture5](https://user-images.githubusercontent.com/24

[2019-07-26 11:03] mpashkovskiy commented on #24
could you please also attach postman screenshot, so I can reproduce it?

[2019-07-26 11:04] mpashkovskiy commented on #27
"i set the empty responses object for each api" - how do you do that?

[2019-07-26 11:14] MounikaKommineni commented on #24
i have updated my previous comment and below is the screenshot of postman
![s8](https://user-images.githubusercontent.com/46343336/61948076-84ebaf80-afc4-11e9-93d9-90043830d20e.PNG)

[2019-07-26 11:42] chandusr commented on #27
const expressOasGenerator = require('express-oas-generator');
expressOasGenerator.init(app, function(spec) {
    for(var index in spec.paths) {
   _.set(spec, 'paths['+index+'].post.responses',{});
}
}

like this

[2019-07-29 06:24] #27 closed

[2019-07-29 06:26] mpashkovskiy commented on #27
That is an excellent catch! Fixed it. Could you try version 1.0.9? Manual initialization of responses not needed anymore.

[2019-07-30 06:37] chandusr commented on #27
thanks @mpashkovskiy

[2019-08-06 10:15] mpashkovskiy commented on #24
Ok, here is the problem: express-oas-generator (EOG) adds parameters handler as a very last middleware. If any middleware or path in router breaks the chain and doesn't pass execution to next middleware/router in the chain then very last EOG middleware won't be called. So call next() or next(err) as the very last line in your handler.

Some docs:
* calling next() https://expressjs.com/en/guide/wri

[2019-08-08 09:11] MounikaKommineni commented on #24
Many Thanks for solving my issue.
It's working.

[2019-08-28 20:28] pragmaticivan opened #28 "Enable custom param for renaming api-docs path"
currently it's manually put as `/api-docs`, would be nice to be able to provide a param to rename it to `/docs` for example

[2019-09-16 12:57] Nathan961207 opened #29 "Body params not being picked up"
prices.js
[code]

I get the following error `Error: Can't set headers after they are sent.`
I read the other issues and i noticed if I don´t call `next()` then no parameters will be picked up but when i use `next()` it complains about my header being set.

[2019-09-23 06:46] mpashkovskiy commented on #29
checking

[2019-10-07 06:22] mpashkovskiy commented on #29
Hm, frankly speakng cannot reproduce the problem

This is what I'm doing:

[code]

and then calling `curl -d '{"key1":"value1", "key2":"value2"}' -H "Content-Type: application/json" -X POST http://localhost:8080` forces app to generate specification with body params.

Any ideas how can I reproduce the problem are apprecated.

[2019-10-09 06:51] mpashkovskiy commented on #29
@Nathan961207 is it still a problem?

[2019-10-09 06:53] mpashkovskiy commented on #29
BTW do you use the latest version?

[2019-10-09 12:18] Nathan961207 commented on #29
Yes, I use the latest version. I will try to copy your setup and see if that works.

[2019-10-14 19:27] MateRyze commented on #28
Can I help with this issue?

[2019-10-14 23:22] obai-d commented on #29
Same issue here as well. I have my route like this:

[code]

I can call the api with `recipe_name` and see the expected result. But the generated `swagger.json` has no info about the body param.

[2019-10-16 07:41] mpashkovskiy commented on #29
@obai-d it is important to call `next()` at the very end of your handler, here is some more explanation about it: https://github.com/mpashkovskiy/express-oas-generator/issues/24#issuecomment-518607492

[2019-10-16 07:44] mpashkovskiy commented on #28
@MateRyze it would be nice! Create a PR please.

[2019-10-16 07:52] mpashkovskiy commented on #29
@Nathan961207 I think I found a problem! There is no `next()` call in your error handler:

[code]

Try

[code]

Let me know if it works.

[2019-10-17 09:17] Nathan961207 commented on #29
@mpashkovskiy That did not work, nice catch tho.
Could you possibly implement some function to send the body params without calling `next()`?

[code]

[2019-10-17 15:40] obai-d commented on #29
@mpashkovskiy calling next() does the job for me. Thanks!

[2019-10-20 21:24] sarpik commented on #22
fyi - I use [redoc](https://github.com/Redocly/redoc) to serve my documentation in production once `openAPI.json` is generated.

I just noticed their warning `[ReDoc Compatibility mode]: Converting OpenAPI 2.0 to OpenAPI 3.0`!

I went into [their repo](https://github.com/Redocly/redoc) and found that they're using [swagger2openapi (npm)](https://www.npmjs.com/package/swagger2openapi)
(https://gith

[2019-10-22 05:16] mpashkovskiy commented on #28
Thanks to @MateRyze now it is available. Update to v1.0.11.
You can pass fith parameter to generator.init(). See https://github.com/mpashkovskiy/express-oas-generator/pull/30/files#diff-0cbce0737e7633bd0d2550fc50ea5cb8R237 for more info.

[2019-10-22 05:16] #28 closed

[2019-10-22 05:39] mpashkovskiy commented on #29
@Nathan961207 unfortunately `next()` is neccesary here because this is how expressjs works.

Can you check one thing. In your examples with header when you are calling `next()` error middleware starting to change response and that is why you get an error and only after express-oas-generator middleware starts to work (if does nothing to request/response objects). What if you change it so it modifie

[2019-10-22 05:41] mpashkovskiy commented on #29
Could you also try to disable error middleware and call `next()` in your router to see if it helps?

[2019-10-22 05:43] mpashkovskiy commented on #22
Hm, that is really interesting. Do you have implementation in mind we can incorporate into express-oas-generator? How about creating PR?

[2019-10-22 07:36] Nathan961207 commented on #29
Removing this middleware solved the issue....Thanks for your help!
`app.use("/", swaggerUi.serve, swaggerUi.setup(swaggerDocument));`

[2019-10-22 07:36] #29 closed

[2019-10-22 07:38] sarpik commented on #22
@mpashkovskiy I'm currently trying my best to create a production-ready implementation for my own app with express-oas-generator. The api being v2 does not bother me as it works, but I surely would like this solved. So after I get my thing working, I can surely take a look! I'll edit this if I start working on it.

[2019-10-22 17:52] MateRyze opened #35 "Use object for optional arguments"
Current init function header:
https://github.com/mpashkovskiy/express-oas-generator/blob/c6c6ec8a10fc88e460cd3695d679f1e83ad13d86/index.js#L145

I think that it would make the call of the `init` function easier when the optional arguments are passed as an object with default params like:
[code]

[2019-10-22 19:53] kiprasmel opened #36 "`Error: Can't set headers after they are sent.` when using `next()` in production"
I used to have route handlers like this:

[code]

and after reading #24 and #29, I've started using `next`:

[code]

This seems to work fine in development, but when using the API in production, I get errors like this:

[code]

If I revert back to how I was using the route handlers without calling `next` OR only calling next if the response body/headers were NOT modified, everything works fine & I

[2019-10-22 19:56] sarpik commented on #35
I strongly agree. The init function gets (*is*) messy and if we add more options in the future, it will get cluttered even more.

While we're at it, I think that the second parameter `aPredefinedSpec` should also be optional, since you're allowed to pass in an empty object to it, so why not make it optional too?

[2019-10-23 07:49] Nathan961207 commented on #36
@sarpik Are you using any middleWare? Like SwaggerUI?
Also, can you show us your `app.js/main.js/index.js`?

[2019-10-23 17:50] sarpik commented on #36
@Nathan961207 yes, I'm using middleware.

Everything's available in my project - https://github.com/sarpik/turbo-schedule - specifically the `server/` folder.

`server.ts`: https://github.com/sarpik/turbo-schedule/blob/master/server/src/server.ts

the routes are available in [server/src/route/v1](https://github.com/sarpik/turbo-schedule/tree/master/server/src/route/v1)

If you have questions - fee

[2019-10-23 21:15] obai-d opened #37 "Is there a way to ignore certain routes or apply any sort of filter?"
I love the option for outputting specification to a `.json` file. However the problem I face is, the file grows so large. Based on my usage pattern, some of the routes get tons of examples added. And some others don't have any yet.

It will be great if we can tightly control what goes into the specification json. Things like, store only 1-2 examples per api.

I believe the second argument to `init

[2019-10-24 08:23] Nathan961207 commented on #36
@sarpik I took a look at https://github.com/sarpik/turbo-schedule/blob/master/server/src/util/applyAPIDocsGenerator.ts and saw this:

[code]
Is this done to avoid having to type
[code]
in your routes?
Otherwise, I would suggest removing any middleware you are using. That was my issue when generating a swagger.json.

[2019-10-26 11:50] sarpik commented on #36
Hey @Nathan961207, thanks for taking a look.
This is done to avoid invoking `expressOasGenerator.init` so that it's not applied in production - so that there's no `/api-docs` endpoint and no route handlers are added from `express-oas-generator`.

You'd still have to use
[code]

in the routes, because calling `next()` after you've modified the `response`s body (like `res.json({ foo: "bar" })`) shou

[2019-10-26 16:51] Nathan961207 commented on #36
@sarpik I did disable `SwaggerUI` to get it working. Then i refactor the code so `SwaggerUI` was setup before `express-oas-generator` middleware.

I am sure you can call `next()` after modifying the body because you have not sent the header back.
Here is an important snippet from a previous issue: https://github.com/mpashkovskiy/express-oas-generator/issues/24#issuecomment-518607492

[2019-10-26 19:03] sarpik commented on #36
@Nathan961207  oh nevermind I found what was causing the inability to generate the openapi spec - I just needed to place the `expressOasGenerator.init(app)` right after creating the express app (`const app = express()`). More info here: https://github.com/mpashkovskiy/express-oas-generator/pull/32#issuecomment-546630020

This solves the second issue, but this original one (req headers can't be set

[2019-10-28 05:59] mpashkovskiy commented on #35
That is a good idea. But it will break existing integration. I will create v2.0.0 of the module and PR is warmly welcomed!

[2019-10-28 06:02] mpashkovskiy commented on #36
Need some more time to investigate/understand the "original issue".

[2019-10-28 06:04] mpashkovskiy commented on #37
Second argument is used to modify specification, indeed, but I think it is not used when we write specificatoion into the file. I thought only one example is generated per endpoint. I will check.

[2019-10-28 13:41] sarpik commented on #35
I'll create a PR here after we finish with #32.

[2019-10-28 21:04] sarpik commented on #37
From express's `4.x` docs:

I'd recommend reading the whole thing - https://expressjs.com/en/4x/api.html#router.use

[code]

[code]

...

I see potential, but I haven't yet tried anything like this.
Once again, see https://expressjs.com/en/4x/api.html#router.use

[2019-11-04 17:11] akhoury opened #40 "why do the spec.paths[myPath].responses={} object reset on server restart?"
I feel like it should just read the existing spec.json on file and "merge" it, I am using [`server.js`](https://github.com/mpashkovskiy/express-oas-generator/blob/master/server.js) as an example.

[2019-11-05 14:27] sarpik commented on #40
This happens [inside the `module.exports.init` method](https://github.com/mpashkovskiy/express-oas-generator/blob/master/index.js#L147) - the parameter `aPredefinedSpec` is `undefined` by default, and if you don't pass anything in, the [`spec` variable will be set to `{}`](https://github.com/mpashkovskiy/express-oas-generator/blob/master/index.js#L13), which is what gets written to the file.

If y

[2019-11-06 10:37] rvleyden opened #41 "post payload documentation"
Hello,

It is a great tool, but when documenting a Post it is not displaying the payload in the swager doc. How can I do that?

[2019-11-07 17:32] sarpik commented on #41
Could you elaborate?

Do you mean a POST request, like `router.post()`?

Could I see the relevant code?

I've set up express-oas-generator [in my own app](https://github.com/sarpik/turbo-schedule/tree/master/server) and it works fine, maybe I could help you with something?

[2019-11-07 17:48] mpashkovskiy commented on #41
@rvleyden please make sure you call next() in your router and middleware. Here is a relevant comment https://github.com/mpashkovskiy/express-oas-generator/issues/24#issuecomment-518607492

[2019-11-12 07:00] mpashkovskiy commented on #41
@rvleyden hopefully our comments helped to fix the problem, so closing the issue.
Please feel free to reopen if problem still exists.

[2019-11-12 07:00] #41 closed

[2019-11-12 18:34] mpashkovskiy commented on #36
One note: this module should not be used in production. It may add too much overhead to your service by intercepting each and every request/response. Idea of the module is to generate baseline OpenAPI specification which will be reviewed, manually edited and only after deployed with your service or made available for REST API consumers by other means (swagger generators, etc).

I suppose you would

[2019-11-13 14:43] sarpik commented on #36
@mpashkovskiy  Yeah I'm currently using `express-oas-generator` only in development mode - it's disabled in production.

Once I'm deploying my application, I run the tests and thus the documentation gets generated. Then I serve it with [`redoc`](https://github.com/Redocly/redoc), similarly to `swagger-ui-dist`.

I'm not afraid of potential security issues, because I use a fake database and only te

[2019-11-13 18:12] sarpik opened #42 "The new `handleResponses` and `handleRequests` method does work"
I was trying to implement the new functionality, provided by #39.

It wouldn't work.

~~I found out what was wrong, here's a quick patch (solves the issue, but unfinished yet):~~ I thought this solved the issue, but it did not. I'm a little lost now.

[code]

What was the problem is that I thought that the global `app` variable would hold a reference to the `app` [we pass in from the first handler

[2019-11-14 07:04] mpashkovskiy commented on #42
fixed the problem, see https://github.com/mpashkovskiy/express-oas-generator/commit/fae64b26fda2b40d66a99cd4594d3a21b1778909 , and published new v1.0.15

I'm going to refactor code a bit to make `handleRequests()` recieve no args.

[2019-11-14 07:04] #42 closed

[2019-11-14 07:05] mpashkovskiy commented on #42
let me know if there is still other problems

[2019-11-14 07:30] mpashkovskiy commented on #42
Refactoring done: https://github.com/mpashkovskiy/express-oas-generator/commit/1a2a5c3362474b17b4be917df8549cf4bfcafd39 and new v1.0.16 is published

May I ask you to check JS doc comments and align those with code?

[2019-11-14 09:58] sarpik commented on #42
I'll try it out and inform you tomorrow, thanks!

[2019-11-16 15:02] sarpik commented on #42
Alright, this [works](https://github.com/sarpik/turbo-schedule/blob/master/server/src/server.ts#L30-L33) [great](https://github.com/sarpik/turbo-schedule/blob/master/server/src/server.ts#L83-L89)!

I'll check the jsdoc comments soon.
Providing type definitions for typescript might also be useful, like @DefinitelyTyped. I've never done that, but I'll see what I can do:D

[2019-11-18 14:36] sarpik opened #44 "License?"
I noticed this project doesn't have a license yet.

I've been using https://choosealicense.com/ for a while now and it's great for choosing an OSS license.

For the best availability, I think that the [MIT License](https://choosealicense.com/licenses/mit/) would be the most appropriate, just like [express itself](https://github.com/expressjs/express/blob/master/LICENSE).

Though you can explore th

[2019-11-21 19:33] obai-d commented on #37
@mpashkovskiy did you get a chance to check that? It is generating multiple examples for me. Not sure if I missed something.

[2019-11-21 20:16] sarpik commented on #37
@obai-d Just an FYI - I had the same issue previously & thus used this monstrosity to trim the length of my examples' arrays to `1`.

[code]

It's written in TypeScript, but you can easily convert it to JavaScript.

I no longer need this since I run tests with a fake database & all data is whatever I provide in the tests, so it's fitting perfectly.

We might consider something like this in the fut

[2019-11-21 23:45] obai-d commented on #37
Thanks @sarpik !

[2019-11-22 06:52] mpashkovskiy commented on #37
fixing it, hold on

[2019-11-22 07:28] mpashkovskiy commented on #44
Licence is defined in `package.json`. At the moment it is ISC.
I will check MIT license.

[2019-11-22 07:28] #44 closed

[2019-11-22 07:56] #37 closed

[2019-11-22 08:00] mpashkovskiy commented on #37
@obai-d , @sarpik  could you please try version 1.0.18

[2019-11-22 13:41] obai-d commented on #37
@mpashkovskiy just verified it, works 👍  Thanks a bunch!

[2019-11-22 14:53] sarpik commented on #37
@mpashkovskiy seems to be working fine:)
Should we mention this in the docs? Someone might want the opposite behaviour and might get confused. Thus, maybe we should make this optional? (After #35)

[2019-11-22 15:04] mpashkovskiy commented on #37
frankly speaking I doubt that anyone would like to have opposite behaviour, it was more of a bug than a feature :)

[2019-11-22 15:06] sarpik commented on #37
Fair enough, let's do something else that's useful then:D

[2020-01-19 23:30] nk2580 opened #45 "request bodies are not captured"
when implementing this tool i have noticed that request bodies are not captured.
can someone shed some light as to why this might be the case ?

[2020-01-20 08:39] mpashkovskiy commented on #45
Could you try this: https://github.com/mpashkovskiy/express-oas-generator/issues/24#issuecomment-518607492 ?

[2020-01-20 09:07] nk2580 commented on #45
As it turns out this was a secondary issue. Once I added the call to `next()` and did the advanced setup it all worked.. I think there’s some issue with my custom middleware breaking the request inspection.

[2020-01-20 09:07] #45 closed

[2020-02-04 22:12] sarpik commented on #37
Hey there, could we re-open this?
I'd like to make the behaviour, introduced in d8f19dc2a1891400389dc01e8de6f0e9246a5d59, optional.

[2020-04-05 22:14] maxiejbe opened #46 "Support for mongoose model definitions"
In order to have **mongoose model definitions**, it could be pretty useful to integrate a library such as:

- https://github.com/giddyinc/mongoose-to-swagger
- https://github.com/simonguest/swagger-mongoose

Matching route requests/responses with model definitions must be hard to implement.
Just a **read-only** implementation would be great!

An interface like this could work:
[code]
Thanks in adv

[2020-04-05 22:24] maxiejbe opened #47 "Support for grouping operations by tag"
It would be awesome to **group operations by tags**:

https://swagger.io/docs/specification/grouping-operations-with-tags/

By setting a flag:
[code]

You could group by the first route path after base url (aka controller name). REST example:
- GET /api/`users`
- GET /api/`users`/:id
- POST /api/`users`

All those endpoints could be tagged as **users**.

Thanks in advance!

[2020-04-15 02:54] sarpik commented on #46
Hey there, thanks for the request(s)!

I'm afraid that I and the owner don't have much time available right now to implement this:/ If you (or anyone else) would like to try to implement this & create a PR - we'd gladly accept!

[2020-04-15 11:42] maxiejbe commented on #46
@sarpik Thanks for your reply. Sure, will give it a try! 😄

[2020-05-06 19:53] pepepaco opened #48 "docs return in json format"
the header must be set to html in the serveApiDocs method like this:
[code]

[2020-05-12 16:34] JeffJassky commented on #46
@maxiejbe Any chance you decided to take that on? I was looking for the same thing :)

[2020-05-12 17:22] maxiejbe commented on #46
Not yet, but planning to start soon!

[2020-05-15 11:22] pedrokohler opened #49 "Documentation not being updated when testing api with Jest"
I'm not sure how to create the example calls for my API.

While doing it manually with postman worked and it added the examples, I couldn't manage to make it work with a jest test suite using supertest.

Is there a way to do with a test suite instead of having to make the request manually?

If so, can you provide an example?

[2020-05-15 12:32] sarpik commented on #49
Hey @pedrokohler - I think I can help you here:)

I've got my project's test setup just like that - Jest + supertest.
Here it is: https://github.com/sarpik/turbo-schedule
(particullary, https://github.com/sarpik/turbo-schedule/blob/master/server/src/test)

I'll explain the setup here:

1. In the `test/setup.ts` file, I start up the server, as seen here:

https://github.com/sarpik/turbo-schedule/bl

[2020-05-16 15:06] pedrokohler commented on #49
Hello @sarpik Thank you very much for your detailed explanation.

I tried to run an experiment based on it and though I didn't fully understand what you did there despite of your awesome explanation, I was able to run it, however it didn't generate the documentation as I expected.

Maybe I'm doing something wrong or it just isn't suppose to do what I really wanted.

I expected that it would have g

[2020-05-16 16:56] kiprasmel opened #50 "The information from the **last** request is never processed / written to openAPI spec file"
While creating an example usage project with Jest, I ran into the same error I've had in my own project - the last request seems to be ignored.

Current work-around - create one more dummy request, so that the last request's information will get processed / written.

We'll need to fix this though.

[2020-05-16 17:02] kiprasmel opened #51 "The directory of the spec file is not ensured before trying to write the file"
We'll need something like

[code]

[code]

[2020-05-16 17:11] kiprasmel opened #52 "[FR] Create an option to preserve the openAPI spec file instead of overwriting it"
Originally from https://github.com/sarpik/turbo-schedule/issues/45

Work-around:

[code]

[2020-05-16 17:47] sarpik commented on #49
Alright, I realised that there are quite a few nuances, so I've created an example project with jest!

You can reach it here (before we merge it into master): https://github.com/mpashkovskiy/express-oas-generator/pull/53

And if you want to try it out:

[code]

and see the README. Should definitely help!

[2020-05-17 13:53] pedrokohler commented on #49
That's awesome @sarpik. Thank you very much.

It worked well here. I guess I only have a last question:

Is there a way to perserve the descriptions of the api and its methods? I ran some tests and every time it changed the file, the descriptions were reset.

[2020-05-17 14:35] sarpik commented on #49
@pedrokohler cheers!

could you give a more concrete example and how could I re-produce it?

[2020-05-17 14:53] pedrokohler commented on #49
Sure!

file.json
[code]

I edited the file manually, changing the api description and the method summary.

After that I added another method to the api and created a test for it. It generated a new updated documentation, but the description and summary changes I did previously were lost:

[code]

Is there a way to preserve these changes?

Thanks!

[2020-05-17 16:16] kiprasmel opened #54 "[FR] Merge/persist state of generated docs to allow customization without overriding it"
Originally from https://github.com/mpashkovskiy/express-oas-generator/issues/49#issuecomment-629810963

[2020-05-17 16:21] sarpik commented on #49
Ah gotcha.

Alright, since the documentation is being generated, it would be pretty fragile to also keep your customisations in the same file - you'd have to track it in source control to make sure things don't get lost.

Now, that may be a possible use case, but we have not implemented anything like it in `express-oas-generator` (yet?). I think we'd need some sort of a merge strategy that would p

[2020-05-20 06:28] mpashkovskiy commented on #54
@pedrokohler, @sarpik there is a way to persist you descriptions and any other changes during runs. The second argument of `init()` method could be a callback function. Here is an example:

[code]

There are several ways to implement it:
* programmatically: just like in the example
* with use of JSONPatch: json patch file is stored separately in the repo and is used by callback function. there are

[2020-05-20 06:29] mpashkovskiy commented on #49
@pedrokohler, @sarpik added comment in #54

[2020-05-20 06:37] mpashkovskiy commented on #52
looks like a good idea, could you create a PR if you have it in your fork?

[2020-05-20 06:39] mpashkovskiy commented on #51
minor though good thing to have, PR?

[2020-05-20 06:42] mpashkovskiy commented on #49
closing that one as we have more specific #54, feel free to reopen if needed

[2020-05-20 06:42] #49 closed

[2020-05-20 06:44] mpashkovskiy commented on #48
I'll take a look

[2020-05-20 06:46] sarpik commented on #52
Yep, I have this work-around in my server and pretty sure I can port it to eoas-gen. Will do soon:)

[2020-05-20 06:48] mpashkovskiy commented on #47
One of the problems here is that paths could be really different. For example:

* users/:id
* api/users/:id
* api/v1/users/:id
* get_user_by_id/:id (C# old school schema I think)

and many more, so I'm a bit hesitent to add this functionality.

@sarpik what is your opinion here?

[2020-05-20 06:49] mpashkovskiy commented on #40
most likely we will add this functionality soon, but as for now @akhoury are you good with suggested by @sarpik workaround?

[2020-05-20 07:04] #48 closed

[2020-05-20 07:04] mpashkovskiy commented on #48
fixed, and looks like all tests passed, @pepepaco @sarpik could you please confirm that it works for you?

[2020-05-20 10:14] pedrokohler commented on #54
@mpashkovskiy you sould call this in the default export of the pacakge despite of if you're implementing the advanced way usage? Like that:

[code]

Also, my linter complains about this _ out of nowhere. What is that supposed to be and where does it come from?

[2020-05-20 12:57] sarpik commented on #54
I'm not sure if we've implemented this in the advanced usage example, will take a look soon.

the `_` is `lodash` -- you could instead just use

`spec.info.title = 'New Title'` etc.:D

[2020-05-20 13:11] pedrokohler commented on #54
@sarpik I mean, obviously! Sorry about that! LOL!

[2020-05-20 13:11] sarpik commented on #54
Haha no problem stuff like this always happens:D

[2020-05-21 09:13] muthu1712 commented on #49
@sarpik I did try the same logic that you have explained - having a start server method and running it for tests.
But what happens now is, the server is now actually running and my tests are using that server, so the mocks i have setup in my test files are not being considered.

`const request = require('./supertest');

jest.mock('../src/helpers');
const { downloadFile } = require('../src/helpers'

[2020-05-21 11:44] sarpik commented on #49
@muthu1712 ugh I haven't used mocks in a while now, I'll take a look later hopefully, thanks for the fyi.

[2020-05-22 07:31] mpashkovskiy commented on #54
@pedrokohler with advanced usage this is how it looks like:

[code]

[2020-05-27 05:39] pepepaco commented on #48
it works, i have on issue with the css but i believe its due to the nodejs app configuration.
thank you!.

[2020-06-01 14:41] muthu1712 commented on #49
@sarpik
I did came up with a workaround for working with mocks. Just wanted to share info here.

Instead of writing mocks in my tests directly, i had a mockFile written and inject that into my controller when running in test environment.

ActualMethodFile.js
[code]

MockMethodFile.js
[code]

MethodFile\index.js
[code]

[2020-06-03 21:07] jens-peterolsson opened #55 "First request never generates response doc"
The first request in my projects only creates documentation for the routes, not for the responses. When running the same request more than once, the response is added to the documentation.

(Tried experimenting with writeIntervalMs and other settings, but can't get it to work.)

I've created a test repo demonstrating the issue. This is extra bad since the best use case for express-oas-generator is

[2020-06-04 08:44] sarpik commented on #55
Related / duplicate: https://github.com/mpashkovskiy/express-oas-generator/issues/50 (it's not the first request that gets ignored, but the last one).

[2020-06-04 13:32] jens-peterolsson commented on #55
Could be related but I don't think it's a duplicate since in example repo the second request is the one that produces the response doc.

[2020-06-08 09:45] adams-family opened #56 "Feature request: Possibility to specify baseUrlPath in the code"
First of all, thanks for this GREAT tool! I've alrady given you a star and promoted the tool on stackoverflow. (This was not related to the feature request)

I appreciate the possibility to specify a `baseUrlPath` in the `package.json` file.

It would be useful, however, if I could drive the base URL using an environment variable during Docker deployments.

My suggestion is something similar as:

[2020-06-08 10:57] adams-family commented on #56
I think I might have resolved this myself. I found this workaround and it works very well for me:

[code]

Please feel free to close this ticket if you think that this is a good solution.

[2020-06-15 13:35] mpashkovskiy commented on #56
Actually there is a [possibility to specify `baseUrlPath`](https://github.com/mpashkovskiy/express-oas-generator#optional-additions-to-your-packagejson) but looks like it is not propagated to the actual specification [here](https://github.com/mpashkovskiy/express-oas-generator/blob/master/index.js#L82).
Would you, @adams-family , be so kind to add a line, check tests and create a PR?

[2020-06-15 13:35] mpashkovskiy commented on #56
And thank you for promotion!

[2020-07-09 09:27] garretaserra commented on #24
I suggest adding this information to the documentation/README file.

[2020-07-09 12:36] #56 closed

[2020-07-09 12:38] mpashkovskiy commented on #56
Hi @adams-family, I implemented the "feature" could you try it and let me know if it works as expected? I can publish new version after it.

[2020-07-11 14:31] maidul98 commented on #52
Hey! I was looking to do the same thing, where did you add code to do this?

[2020-07-11 14:57] sarpik commented on #52
Hey @maidul98, the work-around is available above. As far as the feature request, I have not worked on it yet & it's free for grabs if anyone wants to:)

[2020-07-11 15:01] sarpik commented on #47
yeah no clue about tags - haven't used them yet, sorry.

[2020-07-11 15:12] maidul98 commented on #54
Where do you specify where to save the file?

[2020-07-12 12:49] adams-family commented on #56
Hi @mpashkovskiy - I'm sorry I missed your original message a month ago :(

In my case, specifying the baseUrlPath in the `package.json` is not ideal because I'm running a monorepo (nrwl.io) and I have multiple NodeJS project covered by one `package.json`. Each project is deployed to a different `baseUrl` on the same host, such as:

- /public-api
- /admin-api

I am however happy with the workaroun

[2020-07-12 15:47] maidul98 opened #58 "Doesn't read body parameters"
Is there any way to get the body parameters to get into the api doc automatically?

[2020-07-12 18:01] sarpik commented on #58
you mean the request's body, like some JSON data?

If so, you'd need to make requests with the data in order to include them. I myself have automatic unit tests to do just that: https://github.com/sarpik/turbo-schedule/tree/master/server/src/test

[2020-07-12 19:54] maidul98 commented on #58
Yes, i ment raw json data in the body. I have made requests with raw json in body, but they don't seem to appear in the docs. Am i not sending the data correctly?

[2020-07-13 07:03] mpashkovskiy commented on #58
It is possible that the midlewares chain is broken somewhere, could you please check [this comment](https://github.com/mpashkovskiy/express-oas-generator/issues/24#issuecomment-518607492).

Please reopen the issue if it doesn't solve the problem.

[2020-07-13 07:03] #58 closed

[2020-07-13 07:06] mpashkovskiy commented on #56
I see. Indeed my implementation won't be useful for you. Thanks for explanation, no actions needed then.

[2020-07-13 08:01] mpashkovskiy commented on #24
@garretaserra, added: https://github.com/mpashkovskiy/express-oas-generator#troubleshooting

[2020-07-13 08:19] adams-family commented on #56
No worries, thanks again for this great tool!

[2020-07-23 03:14] maxiejbe commented on #46
Hi everyone!
Here's the PR: https://github.com/mpashkovskiy/express-oas-generator/pull/61.
This is my first time contributing to this repository, wanna take a look @kiprasmel @mpashkovskiy ?
Thanks!

[2020-07-23 03:16] maxiejbe commented on #47
@kiprasmel tags are really useful to group operation (commonly by resources).
Once we have the definitions (See issue #46) I can easily include tag if path contains resource name (or its plural).

[2020-07-27 13:06] mpashkovskiy commented on #47
@maxiejbe indeed it is a usefull feature, do you have in mind any algorithm how to extract tags from paths?

[2020-07-27 13:07] mpashkovskiy commented on #46
Hey @maxiejbe thanks for PR! I reviewed it.

[2020-07-27 13:11] mpashkovskiy commented on #54
I think this question is resolved. Isn't it? Feel free to reopen if need any assistance.

[2020-07-27 13:11] #54 closed

[2020-07-27 13:12] mpashkovskiy commented on #52
Hey @maidul98 does the snippet from @kiprasmel work for you? It looks good to me so closing the ticket, if you need any assistance please reopen.

[2020-07-27 16:16] maxiejbe commented on #46
Fixed them all 😄

[2020-07-27 16:59] maxiejbe commented on #47
I would implement it backwards. Array of tags supplied as an argument (init, handleResponses). Tag the paths if they contain any of those. Simple to implement, would give more flexibility!

[2020-07-29 11:06] mpashkovskiy commented on #47
sounds like a good approach, would you create a PR?

[2020-07-29 11:07] mpashkovskiy commented on #11
I suppose it is not relevant anymore. Please reopen if it is still an issue.

[2020-07-29 11:07] #11 closed

[2020-07-29 11:09] mpashkovskiy commented on #46
PR is merged, new version is on the way

[2020-07-29 11:09] #46 closed

[2020-07-29 12:34] maxiejbe commented on #47
Sure, will let you know!

[2020-08-02 04:59] maxiejbe commented on #47
@mpashkovskiy @kiprasmel Created PR #62. Let me know!

[2020-08-04 07:58] mpashkovskiy commented on #47
I think we can close that one as we have the PR

[2020-08-04 07:58] #47 closed

[2020-08-05 14:48] maxiejbe commented on #22
@kiprasmel @mpashkovskiy
Would you like me to take this one? `swagger2openapi` seems pretty straight forward to implement.

[2020-08-05 14:50] maxiejbe commented on #22
@kiprasmel I've just seen your enhancement to start using OpenApi3 spec. Are you close to a PR? Can I help with that?

[2020-08-05 15:10] kiprasmel commented on #22
@maxiejbe If you looked at a commit in my own project (https://github.com/kiprasmel/turbo-schedule/commit/5b9b49516df4a717ddd4a8469103810f8561c76e) - everything I changed was the types, since `redoc` (an alternative to swagger which renders the openAPI spec as html page - i.e. https://tvarkarastis.com/api/v1/docs) handles it automatically.

I haven't done anything for this project in regards to th

[2020-08-05 15:14] maxiejbe commented on #22
Yes, the conversion with `swagger2openapi` seems pretty straight forward. Will take a look and let you know!

[2020-08-05 17:28] maxiejbe commented on #22
@kiprasmel @mpashkovskiy Should I overwrite the existing file or preserve both `v2` and `v3`?

[2020-08-05 17:41] kiprasmel commented on #22
@mpashkovskiy Heh, perhaps make this behaviour configurable inside the initialization functions, something like this:

[code]

I'm just thinking about the correct default. Unless we're willing to do a major version bump, we should keep as-is, and encourage users to change it themselves. And when releasing a new major version - change the default.

[2020-08-05 17:47] kiprasmel commented on #22
This got me thinking - perhaps we should track the things we'd like to change once doing a major version bump - like a mini roadmap issue?

Currently there's 2 upgrades I'm aware of:

1. I've proposed deprecating the `init` function and only providing the `handleRequests` and `handleResponses` utilities. This would allow us to focus on being more than just a *development only* thingie, and more cl

[2020-08-06 00:57] maxiejbe commented on #22
@mpashkovskiy @kiprasmel Please take a look at this draft PR #63 👍

[2020-08-06 01:18] maxiejbe commented on #22
I'm still not considering this `version argument`. Will do on the next iteration, but wanted you to see how it looks like.

[2020-08-06 08:52] mpashkovskiy commented on #22
How about serving both specs? So following urls will be available:

* `api-docs` - remains the same and serves Swagger UI with v2 spec
* `api-spec` - serves v2 spec
* `api-docs/v2` - alias to `api-docs`
* `api-spec/v2` - alias to `api-spec`
* `api-docs/v3` - serves Swagger UI with v3 spec
* `api-spec/v3` - serves v3 spec

Thus no extra config is needed.

As of major version change: well as long as

[2020-08-06 10:59] maxiejbe commented on #22
Sounds good!

[2020-08-06 11:43] maxiejbe commented on #22
@mpashkovskiy @kiprasmel I would create an issue with the following roadmap:

- Big warning when `process.env.NODE_ENV === 'production'`. Even not applying the middleware.
- `init` waiting time is smart but hacky. I'm in favor of deprecating and shipping major version. If not, maybe implement #35 or find a more elegant way to do dynamic middleware inject (which is pretty risky).
- Smaller `README.

[2020-08-06 12:13] maxiejbe commented on #52
I've just seen this issue on the example! Could you please reopen @kiprasmel?

[2020-08-06 12:29] maidul98 commented on #52
@maxiejbe did it not work for you?

[2020-08-06 12:38] maxiejbe commented on #52
It works, but still a workaround. This should be handled internally.

[2020-08-06 15:25] kiprasmel commented on #52
Yep, completely agree - we need to handle this internally.

[2020-08-06 15:29] kiprasmel commented on #22
I don't think that one can intuitively differenciate between `api-docs` and `api-spec`, thus creating confusion. Additionaly, there'd be too many ways to do the same thing:D

I suggest keeping the same `api-docs` + either `/v2` or `v3` - it would stay backwards compatible and intuitive.

[2020-08-06 15:58] maxiejbe commented on #22
We're currently serving both `api-docs` and `api-spec`. The change in this case would be to split the routes by version, with one of them as default. Take a look at the PR changes 👍

[2020-08-06 21:14] kiprasmel commented on #22
Like, exactly what I was thinking:D Leggo 🚀

[2020-08-06 21:22] kiprasmel commented on #22
@mpashkovskiy

ayyy cheers, I think we both found value in the project ourselves, thus decided to contribute further:D

I mean that the documentation (primarily, the README, & perhaps examples) warn against using this in production and give higher priority to the basic `init` usage instead of the advanced `handle(Requests|Responses)` -- because we can have this in production - I've had it for a wh

[2020-08-10 12:29] mpashkovskiy commented on #52
ok, reoping it

[2020-08-10 12:30] mpashkovskiy commented on #22
Sounds good to me

[2020-08-15 14:11] maxiejbe opened #64 "Warning when NODE_ENV is production"
Big warning when process.env.NODE_ENV === 'production'.
Even not applying the middlewares.

[2020-08-15 14:13] maxiejbe opened #65 "Deprecate init. Preserve only advanced usage."
`Init` won't be used anymore, need to ship a major version.
Only `advanced` usage (from now) will be valid: `handleResponses` and `handleRequests` middlewares.
Adjusting `README.md` + examples accordingly.

[2020-08-15 14:18] maxiejbe commented on #35
@mpashkovskiy @kiprasmel Would you agree to close this one in favor of #65 ?

[2020-08-15 14:21] kiprasmel commented on #35
@maxiejbe

Absolutely.

[2020-08-15 14:30] maxiejbe commented on #40
This is a dupe of #52, created by @kiprasmel.
Would you close it @mpashkovskiy ?

[2020-08-15 14:42] maxiejbe opened #66 "Roadmap 2.X"
Creating this issue as a roadmap (sorted by priority):

Still in `1.X`:
- OpenApi3: PR almost approved #63
- Warning for `production` env. #64
- Ensure OpenApi spec file directory #51
- Preserve OpenApi spec file ` #52
- Unhandled requests/responses: #50 + #55

`2.X` major version:
- Deprecating init #65
- Smaller `README.md`, focused on "`advanced`" (unique) usage.

[2020-08-15 14:55] maxiejbe commented on #36
@kiprasmel Is this still happening? Would you create an example to try it and include it on the roadmap? Ty!

[2020-08-15 15:35] kiprasmel commented on #66
For `2.x`, I'd love to have the examples adjusted to the advanced version aswell. Otherwise looking good!

[2020-08-15 15:36] maxiejbe commented on #66
Sure, will do! Examples + README.md included.

[2020-08-15 15:47] kiprasmel commented on #36
@maxiejbe Yep, it indeed is.

[code]

currently, as mentioned above ☝ https://github.com/mpashkovskiy/express-oas-generator/issues/36#issuecomment-546595767, I use a work-around to not get these errors in production, and ignore them in development.

The project is available -- https://github.com/kiprasmel/turbo-schedule, though it's not a small one, so debugging might be harder. I should try to cr

[2020-08-16 21:43] maxiejbe commented on #36
@kiprasmel In my opinion this is not exactly an issue of `express-oas-generator` but a consequence of using it. Let me explain:

Just reproduced it on the examples by running `server_advanced.js` and executing `GET /students/stranger` request. Here's the thing: To execute `handleRequests` at the end of each request we always need to call `next()` after responding, as it's always the last middlewar

[2020-08-16 21:51] maxiejbe commented on #36
@kiprasmel Please take a look at this fix: https://github.com/mpashkovskiy/express-oas-generator/pull/63/commits/a2aa633bbc2590cad579f505733e4e4712b4372c 👍

[2020-08-17 06:26] mpashkovskiy commented on #35
Sorry, not sure that understand how switching to single object parameter in `init/handleResponses` related to deprectaion of `init`. Could you please clarify?

[2020-08-17 06:30] mpashkovskiy commented on #36
@maxiejbe, bravo, excellent investigation! @kiprasmel could you confirm that it is the case?

[2020-08-17 06:32] mpashkovskiy commented on #40
yes, let's move conversation to #52

[2020-08-17 06:32] #40 closed

[2020-08-17 06:33] mpashkovskiy commented on #66
looks good to me

[2020-08-17 11:40] maxiejbe commented on #35
`handleResponses` already has a single object parameter. This is specific for init and we're gonna deprecate it 😄

[2020-08-18 07:16] #35 closed

[2020-08-18 13:05] kiprasmel commented on #36
@maxiejbe

lol, this sentence alone made me realize what's wrong:D I've encountered the issue where more than one handler gets reached, and indeed it's because we call next, not because we're using express-oas-generator:D

Great job finding this out - I'll try the fix real soon, but I'm pretty sure that it's indeed the case.

[2020-08-18 19:26] kiprasmel commented on #36
@maxiejbe

Yep, that's indeed the fix :tada: I suppose we can close this, or perhaps add this note to the documentation?

[2020-08-18 19:31] maxiejbe commented on #36
If you agree, let's close it and I'll include a note for this case after updating the `README.md`. Just to keep a cleaner roadmap.

[2020-08-18 20:35] kiprasmel commented on #36
Sounds like a plan.

[2020-08-18 20:35] #36 closed

[2020-09-08 13:42] mpashkovskiy commented on #22
aaand, done

[2020-09-08 13:42] #22 closed

[2020-09-11 16:10] maxiejbe commented on #50
@kiprasmel @mpashkovskiy  Let me know if I'm wrong, but this could be related simply to the fact that we're writing the file at `handleResponses` (which is executed first). Shouldn't we write also (or only) at `handleRequests`, which is the last middleware?

[2020-09-11 16:59] kiprasmel commented on #50
@maxiejbe could be, not sure though. It should be somewhat simple to fix - we're definitely just missing a write somewhere.

[2020-09-12 12:49] maxiejbe commented on #52
@kiprasmel @mpashkovskiy An approach to implement this feature would be to use `predefinedSpec` as `transformSpec`.

Always read `specOutputPath` to `spec` at the beginning of `handleResponses`.
When serving, using `transformSpec` to either merge the objects or apply function.

Sounds good?

[2020-09-14 14:56] mpashkovskiy commented on #50
@maxiejbe I think you are right, or alternatively we can only write when UI/spec is served (requested).

[2020-09-24 06:50] mpashkovskiy opened #70 "Migrate to travis-ci.com"
They are shutting down travis-ci.org and thus all the projects have to migrate to travis-ci.com.

From official email:

[2020-09-24 15:35] kiprasmel commented on #70
oh damn that's a shame - a lot of people will have to waste time on this..

[2020-09-26 21:40] maxiejbe commented on #51
@kiprasmel I will implement the accepted answer: https://stackoverflow.com/questions/13542667/create-directory-when-writing-to-file-in-node-js 👍

[2020-09-30 09:52] mpashkovskiy commented on #64
Shall we close it?

[2020-09-30 09:52] #64 closed

[2020-10-19 00:09] maxiejbe opened #72 "Remove unused tags"
Sometimes it happens that certain tags don't match any route. Remove them from docs.

Plus: Pluralize mongoose model tags to check matches.

[2020-10-21 03:41] maxiejbe commented on #55
@jens-peterolsson @kiprasmel Just cloned the test project, pointed express-oas-generator to my fork branch (`git://github.com/maxiejbe/express-oas-generator.git#fix/#50-unhandled-first-last-req-res`) and it's now working. Addressed by https://github.com/mpashkovskiy/express-oas-generator/pull/73

[2020-10-21 03:43] maxiejbe commented on #50
Done @kiprasmel @mpashkovskiy! I've made some important changes. Please review #73

[2020-10-26 09:48] eeswq opened #74 "About the requesting body"
express-oas-generator is the salvation of my situation right now. Thank you
I have a question.
Is there a way to request a definition for the request body? or
Is there a way to predefine the response?
Or is there any possibility to add to that function?

Thank you again

[2020-10-26 10:45] mpashkovskiy commented on #74
Thanks, @eeswq for kind words.

Do yo mean a definition of the request from OpenAPI spec? There is no separate path to get it, the only way it is possible now is to get the full OpenAPI spec from `/api-spec/` and access the needed section programmaticaly

It is possible to provide a callback to `init()`/`handleResponses ()` method and transform the spec before serving it. See README.md for more in

[2020-10-26 11:01] eeswq commented on #74
Thanks for the quick reply. Have a nice day! and
Thanks again for making a great program

[2020-11-16 16:18] barron9 opened #75 "api-docs not generating"

[2020-11-17 21:29] kiprasmel commented on #75
hello -- could you provide a minimal reproduction example?

[2021-01-04 13:02] arunkoshi commented on #74
A related question, is there a way to **not** generate `host`.  I tried the following but i still get the host generated as `localhost:8080`

[code]

[2021-01-04 14:18] arunkoshi opened #77 "Prevent host and schemes fields from getting generated"
Thanks for this awesome module.

Is there a way to **not** generate `host` and `schemes` in the spec?

We are trying to generate the spec during the build/test phase, package and use it in all environments. But because of the generated `host` value, swagger does not seem to pick the url dynamically (based on the environment url where it is served from).

I tried the following for removing the `hos

[2021-01-21 08:30] duke7able commented on #24
@mpashkovskiy can we somehow make it possible to add in as first middleware

[2021-01-21 12:11] kiprasmel commented on #24
@duke7able We cannot because we need to analyze the response object **after** you send the response.

But that makes me think -- perhaps we could hook into express' `res.send` function and handle our logic there so that the end user does not need to call `next()` everywhere (at times it's not even supposed to be called - see https://github.com/mpashkovskiy/express-oas-generator/issues/36).

I thin

[2021-01-21 12:22] matveypashkovskiy commented on #24
Just a small "wording fix": not "after you send the response." but "after your server sends the response."

In overall @kiprasmel it is an excellent idea to hook to `res.send`!

[2021-01-21 12:25] matveypashkovskiy commented on #24
@kiprasmel check this out https://stackoverflow.com/questions/47518962/specify-express-middleware-that-always-runs-at-the-end

[2021-01-21 12:32] matveypashkovskiy commented on #70
Looks like it is time to migrate and I think it is better to GitHub Actions. Will do it. And also let's make some rules about commit messages.

[2021-01-21 12:37] mpashkovskiy commented on #77
It is interesting, I'm trying to reproduce the issue by running "node server_basic.js" and I don't see host property in the schema. How do you get it?

[2021-01-21 12:38] mpashkovskiy commented on #77
which version of the module do you use?

[2021-01-21 12:41] mpashkovskiy commented on #77
Ok I managed to reproduce it. Use `_.set(spec, 'host', undefined);` to remove the field.

[2021-01-21 12:41] #77 closed

[2021-01-21 20:37] kiprasmel commented on #24
@matveypashkovskiy oh wow that's amazing, it seems like we can make it happen!

Sadly I'm currently hella bussy - if anyone wants to take a shot at creating a PR - let us know by commenting here, and try your luck:)

[2021-01-22 09:29] #74 closed

[2021-01-22 09:29] #75 closed

[2021-01-22 09:30] mpashkovskiy commented on #24
ok, I'll check, or maybe you, @duke7able, want to give it a try?

[2021-01-23 05:10] maidul98 opened #79 "No new routes are being written to the file after inital load"
Whenever I make requests to new routes I have created they do not appear in the docs. Here is my app.js file. Did I miss order something?

[code]

Update:

fixed after changing ```predefinedSpec: predefinedSpec ? () => predefinedSpec : undefined``` to just ```predefinedSpec: predefinedSpec ? predefinedSpec : undefined```

[2021-01-23 18:04] #79 closed

[2021-01-28 01:44] maidul98 opened #80 "Is there any way to turn of producing swagger 2.0 .json file and only 3.0?"
I don't want to use swagger 2.0, is there any way to turn this off and use 3.0?

[2021-02-01 07:30] mpashkovskiy commented on #80
Unfortunately, there is no way to disable it, but PR with that option would be appreciated.

[2021-02-01 07:49] mpashkovskiy opened #81 "Deprecate call to handleRequests()"
It is possible to do it by using https://stackoverflow.com/questions/47518962/specify-express-middleware-that-always-runs-at-the-end

Initial discussion is from: https://github.com/mpashkovskiy/express-oas-generator/issues/24#issuecomment-764469904

[2021-02-01 07:49] mpashkovskiy commented on #24
moved to https://github.com/mpashkovskiy/express-oas-generator/issues/81

[2021-02-01 07:49] #24 closed

[2021-02-04 15:56] matteolc opened #82 "Question on request body"
Hi

Running the examples in this repo (server_basic/advanced) i was expecting the request body params to get documented in the auto-generated json however this does not appear to happen. Is this the expected behaviour?

I can see that the body processor correctly recognizes the body, however it doesn't appear to be added to the file?
Am i missing something?

Thanks!

[2021-02-05 15:58] matteolc commented on #82
Hi
I patched with changes from https://github.com/maxiejbe/express-oas-generator and now it works as expected.
Best

[2021-02-08 07:55] matveypashkovskiy commented on #82
Hi @matteolc could you please elaborate a bit? What didn't you see in API spec initially and what did appear when you patched it with @maxiejbe's fork?

[2021-02-08 07:56] matveypashkovskiy commented on #82
is it related to https://github.com/mpashkovskiy/express-oas-generator/pull/73 ?

[2021-02-12 18:07] lucasvillaverde commented on #82
Think it is. It was happening to me until i read this issue. Thx.

[2021-02-15 05:40] kiprasmel commented on #81
I tried messing around for a while. Sadly, things didn't work (yet).

I tried:
- using `app.use((req, res, next)) => ...` + `res.once('finish', () => )` for handling both requests and responses
- using the same, but in `res.once('finish', () => )`, instead of reusing the same `req, res, next`, I tried passing in `res.app` and keeping the same logic for `handleResponses`.

I have not tried:
- wrapp

[2021-02-18 13:47] maxiejbe commented on #82
Yes, I'm experiencing the same issue @matveypashkovskiy, I'm even using my fork for our projects since then.
If you agree, lets give priority to that PR.
Thanks!

[2021-02-19 07:08] mpashkovskiy commented on #82
Thanks @maxiejbe for clarification, PR is merged and the new version is published. Thanks everyone for raising the issue. Please check if it works.

[2021-02-19 07:08] mpashkovskiy commented on #82
feel free to reopen it

[2021-02-19 07:08] #82 closed

[2021-02-22 07:49] #80 closed

[2021-02-22 07:50] mpashkovskiy commented on #65
let's focus on #81 so there will be only one way to use the module

[2021-02-22 07:50] #65 closed

[2021-02-22 07:51] mpashkovskiy commented on #55
I think it is fixed now as #73 is merged. Please confirm.

[2021-02-22 07:51] #55 closed

[2021-02-22 07:52] mpashkovskiy commented on #50
#73 is merged and this one should be fixed now

[2021-02-22 07:52] #50 closed

[2021-02-25 18:41] matveypashkovskiy commented on #82
@maxiejbe, @matteolc, @lucasvillaverde could you please confirm that v1.0.32 works for you (solves the issue)?

[2021-02-25 20:01] maxiejbe commented on #82
Working like a charm in example project! I've even removed the last call to update the docs on each test suite as @kiprasmel suggested. Take a look at https://github.com/CodeaIT/men-challenge/pull/18

[2021-02-25 20:27] maxiejbe commented on #81
@kiprasmel @mpashkovskiy let me take my shot 😄 Will let you know

[2021-02-26 08:34] matveypashkovskiy commented on #81
go @maxiejbe 😄

[2021-02-26 13:43] kiprasmel commented on #81
have fun 😄

[2021-03-07 22:12] maxiejbe commented on #81
@mpashkovskiy @kiprasmel Here's the status guys:

The handler `res.once('finish', () => handleRequests())` inside `handleResponses` middleware seems to be working as expected.

We have another issue that probably blocks us to continue with this implementation:
The `handleRequests` function right initializes the spec (`serveApiDocs` function) by listing the express endpoints with [express-list-endp

[2021-03-24 11:18] duke7able commented on #24
Sorry covid hit us bad, needed to cut of time from foss . I could contribute in it later, but i dont have a specific timeline

[2021-04-05 16:03] maxiejbe commented on #81
@mpashkovskiy @kiprasmel should we close this one and go back to #65 idea?

[2021-04-10 11:05] kiprasmel commented on #81
@maxiejbe yeah I feel like this one isn't going anywhere anytime soon so I think we can focus on other things.

[2021-04-28 12:29] mpashkovskiy commented on #81
I give it a try and looks like we, indeed, have to close it.

[2021-04-28 12:29] #81 closed

[2021-04-28 12:33] mpashkovskiy commented on #70
somehow CI still works, so the ticket is irrelevant

[2021-04-28 12:33] #70 closed

[2021-04-30 14:16] maxiejbe commented on #52
@kiprasmel @mpashkovskiy Guys I'll be sending a PR today/tomorrow along with #51 😄

[2021-05-01 19:19] maxiejbe commented on #52
@kiprasmel @mpashkovskiy there you go! #86

[2021-05-11 06:05] #52 closed

[2021-05-16 23:06] maxiejbe commented on #51
Done @kiprasmel @mpashkovskiy #91

[2021-05-16 23:25] maxiejbe commented on #66
@mpashkovskiy @kiprasmel Guys, after covering minor #72 the priorities for me would be:

**Improving readme**
- [ ] Removing basic usage
- [ ] Document advanced usage properly (`options` object args table: https://docs.github.com/en/github/writing-on-github/organizing-information-with-tables with columns name, required, type, description, default value)
- [ ] Removing or moving down internal libra

[2021-05-17 07:10] kiprasmel commented on #66
@maxiejbe looks good to me! Let's remove the basic usage example right before we ship `2.x` but not earlier to avoid confusion. :shipit:

[2021-06-01 06:31] #51 closed

[2021-06-07 02:04] samarincred opened #93 "/api-docs route not found"
I tried both the advanced and basic usage patterns. However, api-docs/ path does not seem to be recognised by express. I tried seeing all the routes of express by running DEBUG=express:* npm start . The screenshot is below. It seems that the express:router:route debug output for the **get**  api-docs is missing. What might be happening here?

<img width="549" alt="Screenshot 2021-06-07 at 7 28 32

[2021-06-08 14:25] LanderMalta opened #94 "Parameters and responses still not documented"
hi guys, how are you?

thanks for the library, i added it in my app and i am using the latest published version `1.0.38`, but the parameters and responses are not documented yet.

I took a look at all the related issues that were reported about, like #24 , #50, #55, #73 and applied the changes that were recommended, but I still couldn't get it to work. :cry:

what i tried:
-> I added `next()` and

[2021-06-08 15:30] yss14 opened #95 "typescript as dependency necessary?"
Is it necessary to specify typescript as `dependency` and not as `devDependency`?

We are using `typescript@4` and when installing `express-oas-generator` it installs a second typescript instance, and for some reason breaks our tsc builds.

[2021-06-08 16:18] kiprasmel commented on #95
Heyo, last time we discussed this when we introduced typescript's type definitions - see https://github.com/mpashkovskiy/express-oas-generator/pull/43#issuecomment-554895376

Not sure if it's still the case - we could try to make it a dev dependency and see if the mentioned scenario, as well as the normal ones, do not break. /cc @mpashkovskiy

[2021-06-08 20:21] maxiejbe commented on #93
@samarincred Would you send a minimal reproduction example?

`/api-docs` is appended to your baseUrl. Maybe you're using a trailing `/api`, resulting in `/api/api-docs`?

Btw, please use recommended advanced usage, basic usage is about to be deprecated.

[2021-06-09 06:16] LanderMalta commented on #94
Thanks for the reply @maxiejbe
I called the endpoint with http client after starting the server and the request/response was documented successfully! :smile:  thank you so much! and thank you to for the tip for RECREATE and PRESERVE
the spec file.

On the other hand I need to provide the swagger along with my api, and making all http calls at each start would be unfeasible.
I tried to create the t

[2021-06-09 06:27] LanderMalta commented on #94
here is the code with tests
[books_example.zip](https://github.com/mpashkovskiy/express-oas-generator/files/6621520/books_example.zip)

[2021-06-10 18:53] maxiejbe commented on #94
Tests is a pretty good choice.
Your example is not working because you removed `specOutputPath: "./api-docs.json"` from `handleResponses` options.
By default it keeps the spec in memory, so if you restart the app it's not persisted in disk. We were planning to persist in a default output path.

If you go with tests, rollback to `specOutputFileBehavior: SPEC_OUTPUT_FILE_BEHAVIOR.RECREATE` so you al

[2021-06-11 15:52] LanderMalta commented on #94
Thank you very much @maxiejbe  for the explanation!. Your example was perfect to solve the doubt I had.
We can close the issue :pray: :smile:

[2021-06-11 15:52] #94 closed

[2021-06-24 14:58] YouseefNoaman opened #97 "Show Request Body contents"
Greetings, thanks for your great work, I have a problem showing the Request Body contents, what I send in the request is this:
{
 "content": {
    "username": "***",
    "password": "***",
    "channel": "***",
    "sourceChannel": "***"
  }
}
Here is the result:
![image](https://user-images.githubusercontent.com/42517753/123285212-23645080-d50d-11eb-9c25-71ab716095c2.png)

What is needed is to sh

[2021-06-24 16:44] kiprasmel commented on #97
it seems to me that you're encoding the JSON you're sending with base64 and then sending it, thus why it ends up this way.
Perhaps you're using something like JWT tokens?

In any case, we ourselves do not encode the request in the package, so it must be you doing it and sending it through like this.

You could perhaps hook into the lifecycle of the handler and decode the encoded token value, but t

[2021-09-15 11:15] MoMannn opened #101 "Not working with my setup"
I cannot get the generator to work and I'm not sure if the problem is the express version I am using (5.0 alpha) or maybe my server structure.

I created an example demonstrating my error: https://github.com/MoMannn/express-oas-generator-example

Just run `npm run start`.

[2021-09-22 12:35] Afondevi opened #103 "Did you support Sequelize ?"
Hello,

I work with Sequelize ORM.
I manage to generate router, but no request.Body and response.

Thanks for help :)

[2021-10-04 16:42] maxiejbe commented on #103
Hi @Afondevi,

The generation of the **endpoint** docs does not depend on the ORM, but in your incoming requests/responses.
You can check this issue first to check why the docs are not generated: https://github.com/mpashkovskiy/express-oas-generator/issues/94

The disclaimer is that you won't get your models documented with Sequelize. For now the models generation is done only with Mongoose.

Let

[2021-10-04 16:46] maxiejbe commented on #101
Hi @MoMannn,

I've not tested it again Express 5.0 as it's still alpha, let me give it a try.
But if it doesn't work any version we ship will probably break backwards compatibility and requires shipping a major @mpashkovskiy.

Best,

[2021-10-04 16:46] maxiejbe commented on #93
Hi @samarincred, is this resolved? If so, can we close the issue?

[2021-10-04 23:20] Afondevi commented on #103
Hi, Thanks but not understand your reponse.
I get no response and no response status documented, but I use `return next()` on middleware.
I really don't understand how it works ^^'

[2021-10-05 11:26] maxiejbe commented on #103
@Afondevi Please take a look at this comment: https://github.com/mpashkovskiy/express-oas-generator/issues/94#issuecomment-857118588

The library does not automagically document based on routes. You have to call the endpoint ("Try it out" in swagger, http clients like Postman, calling from a frontent, executing tests). Then it parses the request and the response, resulting in documenting the input

[2021-11-01 00:37] christian-hawk opened #104 "Not fetching POST request body using typescript"
Hello there, thx for this project.

I'm wondering what I'm doing wrong:

server.ts
[code]

When I `POST` to the following endpoint, I don't get the request params, only responses):
[code]

Any idea what may be happening? Thanks.

[2021-11-01 16:06] christian-hawk commented on #97
It may be related to #104

[2021-11-22 10:07] nurbashanghai commented on #104
Any luck? Im facing this issue right now

[2021-11-22 10:08] nurbashanghai commented on #97
Any luck? im currently facing this issue

[2021-11-22 10:20] nurbashanghai commented on #97
I guess I found the reason.
If u look at the official README.md
there is place:

[code]
I tried to remove last middleware, that performs `return res.json(rs);`

[2021-11-24 08:50] nurbashanghai commented on #104
I guess I found the reason.
If u look at the official README.md
there is place:

[code]
I tried to put `next()` right before ` return res.json(rs);` (which originally was ending of route)
After I removed it, now it shows request body.

[2021-11-25 07:06] matveypashkovskiy commented on #97
If I'm reading https://expressjs.com/en/guide/writing-middleware.html correctly middlewares:

1. should not do `return`
2. should always call `next()`

In your case, I guess, the solution would be to modify `return res.json(rs);` to:

[code]

[2021-11-25 07:06] matveypashkovskiy commented on #104
@christian-hawk would [that comment](https://github.com/mpashkovskiy/express-oas-generator/issues/97#issuecomment-978893458) help?

[2021-11-25 07:09] mpashkovskiy commented on #103
Closing the issue. Feel free to reopen if there are still questions.

[2021-11-25 07:09] #103 closed

[2021-11-25 07:12] mpashkovskiy commented on #95
Looks like nobody had time to test it, @yss14 would you try @kiprasmel suggestion and get back with the result? Or should we close the issue?

[2021-11-25 07:12] mpashkovskiy commented on #93
Closing the issue. Feel free to reopen if there are still questions.

[2021-11-25 07:12] #93 closed

[2021-11-25 07:17] yss14 commented on #95
@mpashkovskiy Thanks for the reply, I guess we can close this issue since I moved my job in the meantime and `express-oas-generator` is our of stack.

[2021-11-25 07:17] #95 closed

[2021-12-28 12:21] thecpdubguy opened #105 "Feature Suggestions"
Hello!

I've been using this project for about a week now and have some suggestions that I would like to see. Happy to start contributing as well but wanted to gauge input from others. Will try to keep the descriptions short and to the point so as not to overwhelm this post, happy to explain more if there are questions.

1. Generate Models from more sources
    - It would be nice if there was a wa

[2022-02-10 12:40] #104 closed

[2022-03-25 09:19] vivaslj1 opened #109 "[NodeJs16] DeprecationWarning: Invalid 'main' field"
Hi,
Since Nodejs 16 I am getting following

DeprecationWarning: Invalid 'main' field in '/Users/vivaslj1/Projects/angie/angie-backend/node_modules/swagger-ui-express/package.json' of './lib/index.js'. Please either fix that or report it to the module author

i've seen the swagger-ui-express@4.3.0 is solved. https://github.com/scottie1984/swagger-ui-express/issues/277
If i instal this dependency, a

[2022-04-10 08:33] Erik-Schlegel commented on #109
I get the same issue. Easy fix from my perspective is to remove the 'main' key from node_modules/swagger-ui-express/package.json

[2022-05-04 07:19] jamesone opened #112 "Is it possible to convert express request and response typescript definitions to openapi models?"
If I pass the following express route handler, is it possible to convert the req/res typescript types into OAS specs?

[code]

[2022-05-07 12:14] Vaibhav-Agarwal06 opened #113 "Group routes"
How can we group below routes to single tag "Videos"

[code]
and is there any way to restrict specific routes like below or restrict route which starts with below names:

[code]

[2022-05-12 10:28] crazycoder-io commented on #24
I have similar question, I defined my route and I know I need to some parameters in body but I do not know how to define/show these parameters on doc.

This is my route;
[code]

And I used advanced implementation of generator;

[code]
But on the localthost:3000/api-docs I can't see the body parameters, how can I define and show on doc those parameters? Can someone help me?

[2022-05-16 13:02] crazycoder-io opened #114 "Body parameters not documented in Swagger doc by using express-oas-generator"
I have an issue, I defined my route and I know I need some parameters in body but I do not know how to define/show these parameters on doc.

This is my route;
[code]

And I used advanced implementation of generator;

[code]
But on the localthost:3000/api-docs I can't see the body parameters, how can I define and show on doc those parameters? Can someone help me?

[2022-05-26 07:31] msmohandg opened #115 "URL auto conversion issue"
My URL looks like following

`localhost:80/api/1.0/users`

Auto converter converts like following

`localhost:80/api/1/0/users`

adding extra slash in the dot. How can I fix it?

[2022-07-06 03:59] sphinxrave commented on #101
Can confirm it doesn't work against express 5.0

Some fixes:
`var stack = app.stack || (app.router && app.router.stack)`

express doesn't have `app._router` anymore, so we have to use `.router`

However, it still doesn't work as it doesn't go through the tree correctly, only /leafURL show up in the generated swagger doc, instead of /branch/leafURL

[2022-07-13 14:12] mpashkovskiy commented on #115
Failing to reproduce, see https://github.com/mpashkovskiy/express-oas-generator/tree/fix/dot-in-path branch. Do I miss something? Could you retry and if the issue still exists reopen the ticket with more details?

[2022-07-13 14:12] #115 closed

[2022-07-13 14:14] mpashkovskiy commented on #114
I guess it is described in [Troubleshooting](https://github.com/mpashkovskiy/express-oas-generator#troubleshooting) section. `next()` should be called.

Let me know if it helps.

[2022-07-13 14:14] #114 closed

[2022-07-13 14:16] mpashkovskiy commented on #112
It is not, unfortunately. The module only sniffs network requests/responses to build the models, not the source code.

[2022-07-13 14:16] #112 closed

[2022-07-13 14:25] mpashkovskiy commented on #109
[Just updated](https://github.com/mpashkovskiy/express-oas-generator/commit/0aa717f1f0cb72b007ba9a796432bbb6b7e7aef3) swagger-ui-express to ^4.4.0. Use express-oas-generator@1.0.41

[2022-07-13 14:25] #109 closed

[2022-07-13 14:26] mpashkovskiy commented on #109
Correction: use express-oas-generator@1.0.44

[2022-08-17 13:02] apokralipsa opened #119 "Peer dependencies have high severity vulnerabilities"
The library declares the following as dependencies:

[code]

At the same time the `devDependencies` contain `mongoose` and `mongoose-to-swagger` in higher, but still vulnerable versions.

Newer versions of node actually install the dev dependencies and complain about the vulnerability.

The tests seem to be passing when I bump `moongoose` to a higher version. Will provide a PR.

[2022-08-18 07:45] #119 closed

[2022-10-11 07:01] mpashkovskiy commented on #113
Maybe, if the objects returned by the endpoints are somehow similar. But then we don’t know the name for those objects.